@font-face {
    font-family: "Against";
    src: url("fonts/Against.otf");
}

@font-face {
    font-family: "Heavy";
    src: url("fonts/AvenirHeavy.ttf");
}

@font-face {
    font-family: "Next";
    src: url("fonts/AvenirNext.otf");
}

/*structure*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    background-image: url("img/back.png");
    background-size: cover;
    background-position: fixed;
}

.wrapper {
    width: 100%;
    min-width: 375px;
    height: 3600vh;
    min-height: 30400px;
    position: relative;
    margin: 0 auto;
}

.panel {
    position: relative;
    height: 100vh;
    min-height: 800px;
    padding: 0 10vw;
}

img {
    position: absolute;
}

.buffer {
    height: 1600px;
}

/*text*/
h1 {
    font-family: "Against";
    font-size: 72px;
    color: white;
}

h2 {
    font-family: "Against";
    font-size: 42px;
    color: white;
}

h3 {
    font-family: "Heavy";
    font-size: 20px;
    color: white;
}

p {
    font-family: "Next";
    font-size: 18px;
    color: white;
    text-align: justify;
    line-height: 25px;
}

.titled {
    text-align: left;
    margin: 0 auto;
    padding-top: 100px;
}

.f2body {
    width: 200px;
    margin-top: 50px;
}

.f3sub {
    width: 500px;
    padding-top: 130px;
}

.chapter4 {
    width: 300px;
    padding-top: 100px;
}

.f4body {
    width: 400px;
    padding-top: 80px;
}

.z1 {
    position: absolute;
    right: -200px;
    top: 80px;
    font-size: 150px;
    opacity: 0.5;
    scale: .85;
}

.z2 {
    position: absolute;
    right: -200px;
    top: 80px;
    font-size: 100px;
    opacity: 0.5;
    scale: .5;
}

.z3 {
    position: absolute;
    right: -200px;
    top: 80px;
    font-size: 80px;
    opacity: 0.5;
    scale: .5;
}

.z4 {
    position: absolute;
    right: -200px;
    top: 80px;
    font-size: 200px;
    opacity: 0.5;
    scale: .5;
}

.z5 {
    position: absolute;
    right: -200px;
    top: 80px;
    font-size: 60px;
    opacity: 0.5;
    scale: .5;
}

.z6 {
    position: absolute;
    right: -200px;
    top: 80px;
    font-size: 100px;
    opacity: 0.5;
    scale: .5;
}

.z7 {
    position: absolute;
    right: -200px;
    top: 80px;
    font-size: 150px;
    opacity: 0.5;
    scale: .5;
}

.chapter5 {
    padding-top: 350px;
}

.f5body {
    width: 400px;
    position: absolute;
    bottom: 50px;
    left: 10vw;
}

.chapter6 {
    width: 600px;
    position: absolute;
    top: 50px;
    left: -230px;
}

.f6time1 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 150px;
    left: 10vw;
}

.f6body1 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 210px;
    left: 10vw;
}

.f6time2 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 300px;
    left: 10vw;
}

.f6body2 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 360px;
    left: 10vw;
}

.f6comment {
    width: 350px;
    text-align: justify;
    position: absolute;
    bottom: 30px;
    left: 10vw;
    color: #FF4893;
    background-color: white;
    padding: 15px 40px;
    border-radius: 100px 100px 0 100px;
    opacity: 0;
}

.f7chapan {
    position: absolute;
    padding-top: 350px;
}

.f7body {
    width: 400px;
    position: absolute;
    bottom: 50px;
    left: 10vw;
}

.chapter8 {
    width: 600px;
    text-align: left;
    position: absolute;
    top: 50px;
    left: 10vw;
}

.f8time1 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 150px;
    left: 10vw;
}

.f8body1 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 210px;
    left: 10vw;
}

.f8time2 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 300px;
    left: 10vw;
}

.f8body2 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 360px;
    left: 10vw;
}

.f8comment {
    width: 350px;
    text-align: justify;
    position: absolute;
    bottom: 30px;
    left: 10vw;
    color: #9A62F4;
    background-color: white;
    padding: 20px 40px;
    border-radius: 100px 100px 100px 0;
    opacity: 0;
}

.chapter9 {
    padding-top: 150px;
}

.f9body {
    width: 400px;
    position: absolute;
    bottom: 300px;
    left: 10vw;
}

.chapter10 {
    width: 600px;
    text-align: left;
    position: absolute;
    top: 400px;
    left: 10vw;
}

.f10time1 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 500px;
    left: 10vw;
}

.f10body1 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 560px;
    left: 10vw;
}

.f10time2 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 650px;
    left: 10vw;
}

.f10body2 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 710px;
    left: 10vw;
}

.f10comment {
    width: 350px;
    text-align: justify;
    position: absolute;
    bottom: 30px;
    left: 10vw;
    color: #30A5FC;
    background-color: white;
    padding: 20px 40px;
    border-radius: 100px 100px 100px 0;
    opacity: 0;
}

.chapter11 {
    padding-top: 250px;
}

.f11body {
    width: 400px;
    position: absolute;
    bottom: 250px;
    left: 10vw;
}

.chapter12 {
    width: 600px;
    text-align: left;
    position: absolute;
    top: 50px;
    left: 10vw;
}

.f12time1 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 150px;
    left: 10vw;
}

.f12body1 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 210px;
    left: 10vw;
}

.f12time2 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 300px;
    left: 10vw;
}

.f12body2 {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 360px;
    left: 10vw;
}

.f12comment {
    width: 350px;
    text-align: justify;
    position: absolute;
    bottom: 30px;
    left: 10vw;
    color: #89DB6A;
    background-color: white;
    padding: 20px 40px;
    border-radius: 100px 100px 100px 0;
    opacity: 0;
}

.chapter13 {
    padding-top: 350px;
}

.f13body {
    width: 400px;
    position: absolute;
    bottom: 50px;
    left: 10vw;
}

.chapter14 {
    width: 600px;
    text-align: left;
    position: absolute;
    top: 50px;
    left: 10vw;
}

.f14time {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 150px;
    left: 10vw;
}

.f14body {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 210px;
    left: 10vw;
}

.f14comment {
    width: 350px;
    text-align: justify;
    position: absolute;
    bottom: 30px;
    left: 10vw;
    color: #FF9648;
    background-color: white;
    padding: 20px 40px;
    border-radius: 100px 100px 100px 0;
    opacity: 0;
}

.chapter15 {
    text-align: left;
    position: absolute;
    top: 50px;
    left: 10vw;
}

.f15body {
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 200px;
    left: 10vw;
}

.tabs { 
    width: 320px;
    position: relative;
    font-size: 25px;
    text-align: center;
    top: 430px;
    left: 80vw;
    margin: -20px;
    padding: 10px 0;
    border: 5px solid white;
    border-radius: 100px;    
    opacity: 0;
    scale: .5;
}

.end {
    text-align: center;
    margin: 0 auto;
    padding-top: 330px;
    font-size: 45px;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 32vw;
}


/*images*/
#sun {
    width: 400px;
    left: 60vw;
    top: 350px;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}

#arrow {
    bottom: 40px;
}

#f2gg {
    top: -80px;
    left: 40vw;
    scale: .45;
}

#f2img {
    position: relative;
    width: 700px;
    height: 500px;
    left: -150px;
    bottom: 0;
    scale: .6;
}

#laptop {
    position: absolute;
    bottom: 50px;
    left: 0;
}

#phone {
    position: absolute;
    top: 150px;
    left: 550px;
    transform: rotate(15deg);
}

#col1 {
    content: url("img/col1A.png");
    left: 0;
    scale: .6;
}

#col2 {
    content: url("img/col2A.png");
    left: 19vw;
    scale: .6;
}

#col3 {
    content: url("img/col3A.png");
    left: 38vw;
    scale: .6;
}

#col4 {
    content: url("img/col4A.png");
    left: 56vw;
    scale: .6;
}

#col5 {
    content: url("img/col5A.png");
    left: 74vw;
    scale: .6;
}

#f4gg {
    top: 300px;
    left: 45vw;
    scale: .5;
}

#arrow2 {
    bottom: 40px;
}

#f6img {
    position: relative;
    width: 800px;
    height: 800px; 
    left: -200px;
    top: 180px;
    scale: .4;
}

#window {
    position: absolute;
    top: 0;
    left: 62px;
}

#curtain {
    position: absolute;
    top: 0;
    left: 120px;
}

#sun2 {
    position: absolute;
    top: 40px;
    left: 450px;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}

#bed {
    position: absolute;
    bottom: 0;
    left: 0;
}

#f7img {
    position: relative;
    width: 1000px;
    height: 400px;
    left: -270px;
    bottom: 50px;
    scale: .4;
}

#smile {
    position: absolute;
    right: 0;
    bottom: 0;
}

#sparkle1 {
    position: absolute;
    left: 10px;
    bottom: -550px;
    opacity: 0;
}

#sparkle2 {
    position: absolute;
    left: 100px;
    bottom: -550px;
    opacity: 0;
}

#sparkle3 {
    position: absolute;
    left: 0;
    bottom: -550px;
    opacity: 0;
}

#sparkle4 {
    position: absolute;
    right: 100px;
    bottom: -550px;
    opacity: 0;
}

#sparkle5 {
    position: absolute;
    right: 0;
    bottom: -550px;
    opacity: 0;
}

#f8img {
    position: relative;
    width: 600px;
    height: 800px;
    left: -120px;
    top: 200px;
    scale: .4;
}

#swishGG {
    position: absolute;
    right: 0;
    bottom: 50px;
}

#lcheek {
    position: absolute;
    left: 250px;
    bottom: 310px;
    opacity: 0;
}

#rcheek {
    position: absolute;
    left: 420px;
    bottom: 310px;
    opacity: 0;
}

#f9img {
    position: relative;
    width: 800px;
    height: 1200px;
    left: -140px;
    top: 150px;
    scale: .45;
}

#deskGG {
    position: absolute;
    top: 250px;
    left: 0;
}

#f10img {
    position: relative;
    width: 800px;
    height: 800px;
    left: -140px;
    bottom: 200px;
    scale: .45;
}

#deskGG2 {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}

#write {
    position: absolute;
    top: 600px;
    left: 178px;
}

#cloud {
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#line2 {
    position: absolute;
    top: 200px;
    left: 30px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 1.3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#heart {
    position: absolute;
    top: 0;
    left: 270px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 2.7s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#eye {
    position: absolute;
    top: 180px;
    left: 150px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 1.2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#line3 {
    position: absolute;
    top: 0;
    left: 170px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#bulb {
    position: absolute;
    top: 130px;
    left: 350px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#line4 {
    position: absolute;
    top: 20px;
    left: 380px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 2.4s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#sparkle6 {
    position: absolute;
    top: 120px;
    left: 250px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 1.6s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#lotus {
    position: absolute;
    top: 200px;
    left: 430px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 2.4s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#line1 {
    position: absolute;
    top: 60px;
    left: 460px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 1.9s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#sparkle7 {
    position: absolute;
    top: 20px;
    left: 80px;
    opacity: 1;
    animation-name: mindful;
    animation-duration: 3s;
    animation-delay: 2.2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#f11imgL {
    position: relative;
    width: 600px;
    height: 300px;
    left: -180px;
    bottom: 150px;
    scale: .5;
}

#di8{
    position: absolute;
    bottom: 10px;
    left: 0;
}

#di3 {
    position: absolute;
    bottom: 60px;
    left: 350px;
}

#di6 {
    position: absolute;
    bottom: 150px;
    left: 450px;
}

#f11imgR {
    position: relative;
    width: 600px;
    height: 400px;
    left: 0;
    bottom: 400px;
    scale: .5;
}

#di5 {
    position: absolute;
    top: 180px;
    left: 150px;
}

#di4 {
    position: absolute;
    top: 300px;
    left: 250px;
}

#di9 {
    position: absolute;
    top: 20px;
    left: 350px;
}

#f12img {
    position: relative;
    width: 600px;
    height: 800px;
    left: -120px;
    top: 200px;
    scale: .4;
}

#lemonGG {
    position: absolute;
    right: 0;
    bottom: 50px;
}

#water {
    position: absolute;
    bottom: 200px;
    left: 428px;
}

#runGG {
    position: absolute;
    left: 100vw;
    top: 30px;
    scale: .7;
}

#f14img {
    position: relative;
    width: 800px;
    height: 800px;
    left: -200px;
    bottom: -130px;
    scale: .5;
}

#yogaTop {
    position: absolute;
    left: 290px;
    top: 85px;
}

#yogaBot {
    position: absolute;
    left: 0;
    bottom: 0;
}

#sq1 {
    position: absolute;
    left: 14vw;
    bottom: 220px;
    scale: .6;
}

#sq1:hover {
    bottom: 230px;
    transition: all .5s;
    scale: .65;
}

#sq2 {
    position: absolute;
    left: 35vw;
    bottom: 220px;
    scale: .6;
}

#sq2:hover {
    bottom: 230px;
    transition: all .5s;
    scale: .65;
}

#sq3 {
    position: absolute;
    left: 56vw;
    bottom: 220px;
    scale: .6;
}

#sq3:hover {
    bottom: 230px;
    transition: all .5s;
    scale: .65;
}

#sq4 {
    position: absolute;
    left: 2vw;
    bottom: 100px;
    scale: .6;
}

#sq4:hover {
    bottom: 110px;
    transition: all .5s;
    scale: .65;
}

#sq5 {
    position: absolute;
    left: 23vw;
    bottom: 100px;
    scale: .6;
}

#sq5:hover {
    bottom: 110px;
    transition: all .5s;
    scale: .65;
}

#sq6 {
    position: absolute;
    left: 44vw;
    bottom: 100px;
    scale: .6;
}

#sq6:hover {
    bottom: 110px;
    transition: all .5s;
    scale: .65;
}

#sq7 {
    position: absolute;
    left: 65vw;
    bottom: 100px;
    scale: .6;
}

#sq7:hover {
    bottom: 110px;
    transition: all .5s;
    scale: .65;
}

#upArrow {
    position: absolute;
    left: 45vw;
    bottom: -100px;
    transform: rotate(180deg);
    opacity: 1;
}



/*animations*/
@keyframes rotate {
    from    {transform: rotate(0deg);}
    to      {transform: rotate(360deg);}
}

@keyframes mindful {
    0%      {transform: translateY(0px);}
    25%     {transform: translateY(10px)}
    75%     {transform: translateY(-10px);}
    100%    {transform: translateY(0px);}
}